<template>
    <div @click="showEvent(event)" class="event" :style="{'background-color': event.type === day_off ? '#F44336' : event.color}"
         :class="{'hide': !show, 'startEvent':startEvent,'endEvent': endEvent}">
        <div class="event-title" >
            <p v-if="showMemo">{{event.memo}}</p>
        </div>
    </div>

</template>

<script>
    import data from '../assets/events'
    import moment from 'moment'

    export default {
        name: "calendar-event",
        props: ['event', 'day','day_off'],
        data() {
            return {
                unremovables: data.meta.unremovable
            }
        },
        computed:{
            show:function () {
              return this.event.isShow
            },
            showMemo : function () {
                return (this.day.date.day() == 1 || moment(this.event.starts_at).isSame(this.day.date, 'day'))
            },
            startEvent: function () {
               return moment(this.event.starts_at).isSame(this.day.date, 'day')
            },
            endEvent: function () {
                return moment(this.event.ends_at).isSame(this.day.date, 'day')
            }
        },
        methods: {
            showEvent: function (event) {
                if (this.day.isCurrentMonth && this.event.isShow ) {
                    this.$emit('showEvent', event)
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    p{
        text-transform: none;
        font-size: 14px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .event{
        cursor: pointer;
        background-color: rgba(206, 108, 134, 1);
        padding: 4px 0 4px 10px;
        margin-bottom: 5px;
        color: #fff;
        height: 17px;
        width: auto;
        opacity: 0.9;
        transition: all 0.2s ease;
        &:hover{
            opacity: 1;
        }
    }
    .hide {
        opacity: 0;
        cursor: default;
        &:hover{
            opacity: 0;
        }

    }
    .startEvent{
        margin-left: 5px;
        border-radius: 25px 0 0 25px;
    }
    .endEvent{
        margin-right: 5px;
        border-radius: 0 25px 25px 0 ;
    }
    .event.startEvent.endEvent{
        border-radius: 25px;
    }
    .hover{
        opacity: 1;
    }
</style>