<template>
    <div class="calendar-header">
        <div class="header-left">
            <span @click="prevMonth" class="prev-month"> &lt; </span>
        </div>
        <div class="header-center">
            <p class="title">
                <transition name="slide-fade" mode="out-in">
                <span :key="change" class="title-month">{{moment(date).format('MMMM') }}</span>
                </transition>
                <span>{{moment(date).format(' YYYY') }}</span>
            </p>
        </div>
        <div class="header-right">
            <span  @click="nextMonth" class="next-month"> &gt; </span>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        name: 'calendar-header',
        data() {
            return {
                date: moment(),
                left: 37,
                right: 39,
                change:false,

            }
        },
        methods: {
            nextMonth() {
                this.date = moment(this.date).add(1, 'month')
                this.change = !this.change
                this.$emit('changeMonth', this.date, 'nextMonth')
            },
            prevMonth() {
                this.date = moment(this.date).subtract(1, 'month')
                this.change = !this.change
                this.$emit('changeMonth', this.date, 'prevMonth')
            }
        },
        mounted() {

            window.addEventListener('keyup', (event) => {
                if (event.keyCode === this.left) {
                    this.prevMonth()
                } else if (event.keyCode === this.right) {
                    this.nextMonth()
                }
            });
        }

    }
</script>

<style scoped lang="scss">
    .calendar-header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        background-color: rgba(206, 108, 134, 1);
    }

    .header-left{
        user-select: none;
        margin-left: 100px;
    }
     .header-right {
         user-select: none;
        margin-right: 100px;
    }

    .header-center {
        text-align: center;
    }

    .title {
        font-size: 24px;
        color: #fff;
        font-family:  sans-serif;
        text-transform: uppercase;

    }

    .prev-month, .next-month {
        cursor: pointer;
        color: #A44859;
        font-family: monospace;
        font-size: 40px;
        &:hover {
            color: #fff;
            transition: all 0.2s ease;

        }
    }
    .slide-fade-enter-active {
        transition: all 0.1s ease-in-out
    }
    .slide-fade-leave-active {
        transition: all 0.1s ease-in-out
    }
    .slide-fade-enter, .slide-fade-leave-to{
        opacity: 0;
    }

</style>
