<template>
    <div class="calendar-body">
        <div class="days-header">
            <div class="day-label" v-for="(day,index) in weeksName">
                <p :class="{'weekend':index ===  6 || index === 5}">{{day}}</p>
            </div>
        </div>
        <transition :name="animationSide" mode="out-in">
            <div :key="change" class="days-body">
                <div class="week-row" v-for="week in calendar" >
                    <div
                            class="week-day"
                            v-for="day in week"
                            :class="{'not-current-month': !day.isCurrentMonth,'today-week-day': day.isToday}"
                    >
                        <div class="day-number" :class="{'today-number': day.isToday}">
                            <p>{{ day.monthDay }}</p>
                        </div>
                        <div class="events">
                            <calendar-event  @showEvent="showEvent" :event="event" :day="day" :day_off="day_off"
                                            v-for="event in eventList(day.date)"></calendar-event>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <modal :day_off="day_off" :event="event" v-if="showModal" :unremovables="unremovables" @deleteEvent="deleteEvent"
               @close="showModal = false"></modal>
    </div>
</template>

<script>
    import moment from 'moment'
    import data from '../assets/events'
    import CalendarEvent from "./CalendarEvent";
    import Modal from "./Modal";

    export default {
        components: {
            Modal,
            CalendarEvent
        },
        props: ['currDate','animationSide'],
        name: "calendar-body",
        data() {
            return {
                date: this.currDate,
                events: data.events,
                types: data.meta.types,
                unremovables: data.meta.unremovable,
                weeksName: ['MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'],
                change: false,
                showModal: false,
                event: {},
                day_off: null
            }
        },
        computed: {
            calendar() {
                if (this.date) {
                    return this.buildCalendar(moment(this.date), moment(this.date).weekday())
                }
            }
        },
        methods: {
            eventList(date) {
                return this.filterEventsForDate(date, this.events)
            },
            startOfWeek: function (date, firstDay = 1) {
                let day = moment(date).weekday()
                let calendarStart = moment(date)
                let diff = (calendarStart.date() - day  + firstDay)
                calendarStart.date(diff)
                return  calendarStart
            },
            buildCalendar: function (startDate) {
                startDate.set({'date': 1, 'hour': 0, 'minute': 0, 'second': 0, 'millisecond': 0})
                let calendar = []
                let today = moment().set({'hour': 0, 'minute': 0, 'second': 0, 'millisecond': 0})
                let calendarDate = this.startOfWeek(startDate)
                for (let weekNr = 0; weekNr < 6; weekNr++) {
                    let week = []

                    for (let day = 0; day < 7; day++) {
                        week.push({
                            weekDay: day,
                            date: calendarDate,
                            monthDay: calendarDate.date(),
                            isToday: (calendarDate.valueOf() === today.valueOf()),
                            isCurrentMonth: (calendarDate.month() === startDate.month())
                        })
                        let nextDay = calendarDate.date() + 1;
                        calendarDate = moment().set({
                            'year': calendarDate.year(),
                            'month': calendarDate.month(),
                            'date': nextDay,
                            'hour': 0,
                            'minute': 0,
                            'second': 0,
                            'millisecond': 0
                        })
                    }

                    calendar.push(week)
                }
                return calendar
            },
            randomColor: function () {
                let colors = ['#01579B', '#1B5E20', '#827717', '#E65100', '#3E2723',
                    '#263238','#880E4F','#4A148C','#006064']
                return colors[Math.floor(Math.random() * colors.length)]
            },
            filterEventsForDate: function(date, events) {
                let thisDayEvents = events.filter(day => {
                    let start = moment(day.starts_at).format('YYYY-MM-DD')
                    let end = moment(day.ends_at ? day.ends_at : st).format('YYYY-MM-DD')
                    return date.isBetween(start, end, null, '[]')
                });
                thisDayEvents.sort((a,b)=>{
                    if(!a.cellIndex) return 1
                    if (!b.cellIndex) return -1
                    return a.cellIndex - b.cellIndex
                });
                for (let i = 0;i < thisDayEvents.length;i++) {

                    thisDayEvents[i].cellIndex = thisDayEvents[i].cellIndex || (i + 1)
                    thisDayEvents[i].isShow = true
                    thisDayEvents[i].color = thisDayEvents[i].color || this.randomColor()
                    if (thisDayEvents[i].cellIndex == i+1 ) continue

                        thisDayEvents.splice(i, 0, {
                            title: 'title',
                            cellIndex: i + 1,
                            start: date.format(),
                            end: date.format(),
                            isShow: false,
                            color: null
                        })

                }
                return thisDayEvents
            },
            showEvent: function (event) {
                this.event = event
                this.showModal = true
            },
            deleteEvent: function () {
                let index = this.events.findIndex((ev) => {
                    return ev.id === this.event.id
                })
                if (index !== -1) {
                    this.events.splice(index, 1)
                    this.events.forEach((event)=> {
                        event.cellIndex = null
                    })
                    this.showModal = false
                }
            },
            dayOff: function () {
                this.types.forEach( (type) => {
                        if (type[1] === 'day_off' || type[0] === 3) {
                            this.day_off = type[0]
                        }
                    }
                )
            },
        },
        mounted(){
            this.dayOff()
        },
        watch: {
            currDate: function (newVal) {
                this.date = newVal
                this.change = !this.change
            }
        }
    }
</script>

<style lang="scss" scoped>
    .calendar-body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .days-header {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }

    .days-body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .day-number {
        padding: 4px 4px 0 4px;
        text-align: right;
        margin-right: 10px;
        color: #333;
        font-size: 16px;
        font-family: sans-serif;
    }
    .events{
        margin: 0 -1px;
    }

    .day-label {
        text-align: center;
        border-right: 1px solid #e0e0e0;
        color: #333;
        font-weight: 700;
        font-family: sans-serif;
        width: 100%;
        padding: 5px 0;
        margin-right: -1px;
    }

    .week-row {
        display: flex;
        justify-content: space-between;
        height: auto;
        flex: 1 auto;
    }

    .week-row {
        border-left: 1px solid #e0e0e0;
    }

    .week-day {
        width: 100%;
        padding: 0;
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        margin-right: -1px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        &:hover{
            box-shadow: inset 0px 0px 10px 2px #e0e0e0;
            transition: all 0.2s;
        }
    }

    .week-day.disabled {
        background-color: rgb(245, 245, 245);
    }

    .week-day.not-current-month {
       & >.day-number {
            color: rgb(195, 195, 195);
        }
        & .event{
            cursor: default;
            opacity: 0.6;
        }
        &:hover{
            box-shadow: none;
        }
    }

    .today {
        border: 1px solid rgba(206, 108, 134, 1);
    }

    .today-number {
        color: rgba(206, 108, 134, 1);
        font-weight: bold;
    }
    .today-week-day{
        box-shadow: inset 0px 0px 10px 2px #e0e0e0;

    }
    .nextMonth-enter-active,.nextMonth-leave-active,.prevMonth-enter-active,.prevMonth-leave-active {
        transition: all 0.2s;
    }
    .nextMonth-leave-to{
        transform: translateX(-100px);
        opacity: 0;
    }
    .nextMonth-enter{
         transform: translateX(100px);

     }
    .prevMonth-leave-to{
        transform: translateX(100px);
        opacity: 0;
    }
    .prevMonth-enter{
        transform: translateX(-100px);

    }
    .weekend{
        color: #F44336;
    }
</style>