<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper" @click="$emit('close')">
                <div class="modal-container">

                    <div class="modal-header"
                         :style="{'background-color': color}"
                    >
                        <p>{{event.memo}}</p>
                    </div>

                    <div class="modal-body">
                        <p>Type: {{event.type | type}}</p>
                        <p> Start: {{event.starts_at | time}}</p>
                        <p> End: {{ event.ends_at | time}}</p>

                    </div>

                    <div class="modal-footer">
                        <button class="btn" @click="$emit('close')"
                                @mouseover="btnHover1 = true"
                                @mouseleave="btnHover1 = false"
                                :style="{'border-color': color,
                                'color':btnHover1 ? '#fff' : color,
                                'box-shadow': btnHover1 ? hoverColor : ''}"

>
                            Back
                        </button>
                        <button v-if="!checkDelete" class="btn" @click="deleteEvent"
                                @mouseover="btnHover2 = true"
                                @mouseleave="btnHover2 = false"
                                :style="{'border-color': color,
                                'color':btnHover2 ? '#fff' : color,
                                'box-shadow': btnHover2 ? hoverColor : ''}">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "modal",
        props: ['event', 'unremovables','day_off'],
        data() {
            return {
                esc: 27,
                color: null,
                hoverColor: null,
                btnHover1:false,
                btnHover2:false
            }
        },
        mounted() {
            this.changeColor()
            window.addEventListener('keyup', (event) => {
                if (event.keyCode === this.esc) {
                    this.$emit('close')
                }
            });
        },
        computed: {
            checkDelete: function () {
                return this.unremovables.includes(this.event.type)
            }
        },
        methods: {
            deleteEvent: function () {
                this.$emit('deleteEvent')
            },
            changeColor: function () {
                this.color = this.event.type === this.day_off ? 'red' : this.event.color
               this.hoverColor = '0 0 40px 40px '+ this.color + ' inset'
            }
        }
    }
</script>

<style lang="scss" scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: sans-serif;

    }

    .modal-header, .modal-body, .modal-footer {
        padding: 20px 30px;

    }

    .modal-header {
        margin-top: 0;
        background-color: rgba(206, 108, 134, 1);
        color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .modal-footer{
        display: flex;
        justify-content: space-between;
    }

    .modal-body {
        margin: 20px 0 0 0;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    p{
        text-transform: none;
    }
    .btn {
        box-sizing: border-box;
        background-color: transparent;
        border: 2px solid  rgba(206, 108, 134, 1);
        border-radius: 6px;
        color:  rgba(206, 108, 134, 1);
        cursor: pointer;
        display: flex;
        align-self: center;
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: 700;
        transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
        &:hover,
        &:focus {
            padding: 12px 22px;
            border: none;
            color: #fff;
            outline: 0;
            box-shadow: 0 0 40px 40px rgba(206, 108, 134, 1) inset;
        }
    }
</style>