<template>
  <div id="app">
      <calendar-header @changeMonth="changeMonth"></calendar-header>
      <calendar-body :animationSide="animationSide"   :currDate="date"></calendar-body>

  </div>
</template>

<script>
import CalendarHeader from './components/CalendarHeader'
import CalendarBody from './components/CalendarBody'
import moment from 'moment'

export default {
  name: 'app',
  components: {
      CalendarHeader,
      CalendarBody
  },
    data(){
      return{
          date: moment(),
          animationSide: null
      }
    },
    methods: {
        changeMonth(month,side) {
            this.date = month
            this.animationSide = side
        }
    }
}
</script>

<style lang="scss">
body,html{
    margin: 0;
    padding: 0;
    height: 100vh;
}
#app{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
p{
    font-family:  sans-serif;
    text-transform: uppercase;
    margin: 0;
}

</style>
